.m-b-5 {
    margin-bottom: 5px;
}

#mapElem {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.floater {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
